.landName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 94%;
    position:absolute;
    bottom:0px;
    top:50px
}

h1, h2, h3, h4, h5, h6, p {

    font-weight:500;
    color: white;
}


.landingTags{
    
    width: 100%;
    margin-left: 12px;
}

.landingTextSpan {
    font-size: 14px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.8);
    padding: 0 15px;
    line-height: 32px;
    color: #fff;
    border-radius: 16px;
    margin-right: 10px;
    margin-bottom: 50px;

}